<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SessionServlet</servlet-name>
  	<display-name>SessionServlet</display-name>
  	<description></description>
  	<servlet-class>com.moviebook.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserFriendsServlet</servlet-name>
  	<display-name>UserFriendsServlet</display-name>
  	<servlet-class>com.moviebook.servlet.UserFriendsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecommendedMoviesServlet</servlet-name>
  	<display-name>RecommendedMoviesServlet</display-name>
  	<description></description>
  	<servlet-class>com.moviebook.servlet.RecommendedMoviesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MoviesRecommendedFriendsServlet</servlet-name>
  	<display-name>MoviesRecommendedFriendsServlet</display-name>
  	<description></description>
  	<servlet-class>com.moviebook.servlet.MoviesRecommendedFriendsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MoviesSearchServlet</servlet-name>
  	<display-name>MoviesSearchServlet</display-name>
  	<description></description>
  	<servlet-class>com.moviebook.servlet.MoviesSearchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MovieScreeningsServlet</servlet-name>
  	<display-name>MovieScreeningsServlet</display-name>
  	<description></description>
  	<servlet-class>com.moviebook.servlet.MovieScreeningsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SessionServlet</servlet-name>
  	<url-pattern>/api/session</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserFriendsServlet</servlet-name>
  	<url-pattern>/api/users/friends</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecommendedMoviesServlet</servlet-name>
  	<url-pattern>/api/movies/recommended</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MoviesRecommendedFriendsServlet</servlet-name>
  	<url-pattern>/api/movies/recommended/friends</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MoviesSearchServlet</servlet-name>
  	<url-pattern>/api/movies/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MovieScreeningsServlet</servlet-name>
  	<url-pattern>/api/movies/screening</url-pattern>
  </servlet-mapping>
</web-app>
